<div class="row" *ngIf="loaded">
  <div class="container p-5 overflow-auto rounded">
    <img
      src="{{ animal.imgUrl }}"
      class="rounded"
      id="{{ animal._id }}"
    />
    <h1 class="display-3">{{ animal.name }}</h1>
    <p class="lead">
      We love taking care of all animals, but {{ animal.name }} needs a forever
      home. Use the form below to get started on adopting your new best friend.
      If you can't adopt please consider volunteering!
    </p>
    <div>
      <div class="col-lg-6 details">
        <h4>Details</h4>
        <ul class="list-group">
          <li class="list-group-item popped">
            <span class="badge">Age</span>
            {{ animal.age }}
          </li>
          <li class="list-group-item popped">
            <span class="badge">Breed</span>
            {{ animal.type }}
          </li>
          <li class="list-group-item popped">
            <span class="badge">Location</span>
            {{ animal.location }}
          </li>
        </ul>
      </div>
    </div>
    <form class="contact-form">
      <div class="form-group mt-3">
        <label> I want to </label>
        <select class="form-control">
          <option value="value1">Adopt</option>
          <option value="value2">Volunteer</option>
        </select>
        <label>Name</label>
        <input type="text" class="form-control" />
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" />
        </div>
        <div class="input-group">
          <button
            (click)="onSubmit()"
            type="button"
            class="btn btn-lg btn-block"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
    <div class="alert alert-success m-5" role="alert" *ngIf="submitted">
      Thanks for your interest in helping {{ animal.name }}, we will reach out
      to you soon!
    </div>
  </div>
</div>
<div *ngIf="!loaded" #loading>Loading...</div>
