<div class="row">
  <div class="input-group takePhoto qrPrint">
    <ul class="list-group">
      <li *ngFor="let animal of animals" class="list-group-item">
        <ngx-qrcode
          id="qrCodeImage"
          [qrc-element-type]="elementType"
          [qrc-value]="CLIENT_URL + animal._id"
        >
        </ngx-qrcode>
        <div class="qrInfo">
          <h3>{{ animal.name }}</h3>
          <p>
            Hello, I'm available for adoption. Scan my QR code to find out all
            about me!
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
