@import "../../styles.scss";

@media screen {
  .row {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    .loading {
      display: grid;
      justify-content: center;
      align-items: center;
      width: 320px;
      .alert {
        width: 320px;
      }
    }
    .container {
      background-color: rgba($primary, 0.85);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      height: 80vh;
      max-width: 95vw;
      display: grid;
      justify-content: center;
      .qrAndImg {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-height: 132px;
          max-width: 132px;
        }
      }
      .input-group {
        margin: auto;
      }
    }
    router-outlet {
      display: none;
    }
  }
}
