<div class="row">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    enctype="multipart/form-data"
  >
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
        name="name"
        formControlName="name"
      />
    </div>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Age</span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
        name="age"
        formControlName="age"
      />
    </div>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Location</span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
        name="location"
        formControlName="location"
      />
    </div>

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Type</span>
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg"
        name="type"
        formControlName="type"
      />
    </div>

    <div class="input-group takePhoto">
      <input
        #uploadPhoto
        class="form-control-file"
        type="file"
        accept="image/*"
        capture="environment"
        (change)="onUpload($event)"
      />
      <button
        (click)="uploadPhoto.click()"
        type="button"
        class="btn btn-lg btn-block"
      >
        Upload Photo
      </button>
      <button (click)="onSubmit()" type="button" class="btn btn-lg btn-block">
        Submit
      </button>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="uploaded">Upload Successful</div>
    <div class="alert alert-success" role="alert" *ngIf="submitted">Submit Successful</div>
  </form>
  <div class="input-group takePhoto qrPrint">
    <ngx-qrcode
      *ngIf="display"
      id="qrCodeImage"
      [qrc-element-type]="elementType"
      [qrc-value]="value"
    >
    </ngx-qrcode>
    <div class="qrInfo d-none">
      <h3>{{ animalName }}</h3>
      <p>
        Hello, I'm available for adoption. Scan my QR code to find out all about
        me!
      </p>
    </div>
  </div>
  <div class="input-group">
    <button
      (click)="generateQRCode()"
      type="button"
      class="btn btn-lg btn-block"
    >
      Generate QR Code
    </button>
    <button (click)="printQR()" type="button" class="btn btn-lg btn-block">
      Print QR Card
    </button>
  </div>
</div>
