@import "../../styles.scss";

.takePhoto {
  input {
    display: none;
  }
}

#qrCodeImage {
  margin: auto;
}

.row {
  display: grid;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  router-outlet {
    display: none;
  }
  form {
    display: grid;
    row-gap: 16px;
  }
  input {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: $secondary;
  }
  .btn,
  span {
    background-color: $alt;
    color: $dark;
  }
}
