$primary: #d9d9d9;
$secondary: #a6998a;
$alt: #a67f38;
$pop: #8c6535;
$dark: #403222;

.takePhoto {
  input {
    display: none;
  }
}

.row {
  display: grid;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  router-outlet {
    display: none;
  }
  form {
    display: grid;
    row-gap: 16px;
  }
  input {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: $secondary;
  }
  .btn,
  span {
    background-color: $pop;
    color: $dark;
  }
}
