<nav class="navbar navbar-expand-lg navbar-light bg-light topbar">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid text-center content">
  <div class="container">
    <div class="row">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
        />
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Age</span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
        />
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg"
            >Location</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
        />
      </div>

      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Type</span>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
        />
      </div>

      <div class="input-group takePhoto">
        <input
          #uploadPhoto
          class="form-control-file"
          type="file"
          accept="image/*"
          capture="environment"
          (change)="onFileChanged($event)"
        />
        <button
          (click)="uploadPhoto.click()"
          type="button"
          class="btn btn-lg btn-block"
        >
          Upload Photo
        </button>
      </div>
      <div class="input-group takePhoto">
        <ngx-qrcode
          *ngIf="display"
          id="qrCodeImage"
          [qrc-element-type]="elementType"
          [qrc-value]="value"
        >
        </ngx-qrcode>
        <a [href]="href" *ngIf="display" (click)="downloadImage()" download
          >Download Image</a
        >
      </div>
      <div class="input-group">
        <button
          type="button"
          class="btn btn-lg btn-block"
          (click)="generateQRCode()"
        >
          Generate QR Code
        </button>
      </div>
    </div>
  </div>
</div>
